body {
    margin: none;
}
ul{
    height: 100vh;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
li{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 8px;
    height: 95px;
    width: 95px;
    background-color: black;
    border-top: 3px solid yellowgreen;
    border-bottom: 3px solid lightpink;
    box-shadow: 3px 3px  blueviolet,  -3px -3px lightblue, 5px 5px lightsalmon, -5px -5px blue;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
.globe{
    background-image: url(img/1.svg);
}
.edit{
    background-image: url(img/2.svg);
}
.sign{
    background-image: url(img/3.svg);
}
.ellipsis{
    background-image: url(img/4.svg);
}
a{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li:hover span{
    opacity: 1;
    text-align: center;
    background-color: rgb(84, 14, 163);
    font-weight: bold;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    width: 95px;
    height: 95px;
}
li:hover {
    border-top: 3px solid rgb(205, 50, 115);
    border-bottom: 3px solid rgb(19, 238, 73);
    box-shadow:  3px 3px  blueviolet,  -3px -3px lightblue, 5px 5px lightsalmon, -5px -5px blue;
}